*{
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    display: flex;
    background-image: linear-gradient(315deg, #b6c6db 0%, #f5f7f7 100%);
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    
}

.quiz-container{
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0 0 10px 20px rgba(100, 100, 100, 0.2);
    width: 600px;
    overflow: hidden;

}

.quiz-header{
    padding: 4rem;
}

h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
    color: #8a551b;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label{
    cursor: pointer;
}

button{
    background-color: rgb(184, 110, 61);
    color: rgb(13, 9, 6);
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.2rem;
}

button:hover{
    background-color: #462a0c;
    color: #f5f7f7;
    transition: 0.5s;
}